<form method="post" action="{{ path('app_home_delete', {'idHome': home.idHome}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ home.idHome) }}">
    <button class="btn">Delete</button>
</form>
